# ---------------------------------------------------
# Miscellaneous
# ---------------------------------------------------
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# ---------------------------------------------------
# IntelliJ related
# ---------------------------------------------------
*.iml
*.ipr
*.iws
.idea/

# ---------------------------------------------------
# VS Code related
# ---------------------------------------------------
# The .vscode folder contains launch configuration and tasks
# Uncomment the next line to ignore it:
#.vscode/

# ---------------------------------------------------
# Flutter / Dart / Pub related
# ---------------------------------------------------
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/

# ---------------------------------------------------
# Build folders
# ---------------------------------------------------
# Ignore ALL build output except Flutter Web build
build/*
!build/web/
!build/web/**
# Coverage
coverage/

# ---------------------------------------------------
# Symbolication related
# ---------------------------------------------------
app.*.symbols

# ---------------------------------------------------
# Obfuscation related
# ---------------------------------------------------
app.*.map.json

# ---------------------------------------------------
# Android Studio related
# ---------------------------------------------------
android/app/debug/
android/app/profile/
android/app/release/
